.usl {
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
    width: 580px;
    height: 280px;
}

.usl2 {
    width: auto;
    border: dashed #ededed;
    border-width: 0 1px 1px;
}

.usl li {
    overflow: hidden;
    float: left;
    margin: 3px;
    width: 134px;
    height: 64px;
}

.usl a {
    display: block;
    padding: 4px;
    border: 1px solid #FFF;
}

.usl a:hover {
    text-decoration: none;
    border: 1px solid;
    border-color: #DDD #999 #999 #DDD;
    background: #F2F2F2;
}

.usl .avt {
    float: left;
    margin-right: 5px;
    width: 52px;
    height: 52px;
    border: 1px solid #ededed;
    background-color: #FFF;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    zoom: 1;
}

.usl .d {
    float: left;
    width: 65px;
    height: 54px;
    overflow: hidden;
    word-wrap: break-word;
}

.usl li.a a, .usl li.a a:hover {
    border-color: #F90;
    background-color: #FFF1E1;
}

.usl li.a .avt span {
    display: block;
    margin-left: 2px;
    width: 50px;
    height: 50px;
    background: url(../images/mark.png) no-repeat left bottom;
}

.usd {
    padding: 5px 10px 0;
    border: solid #ededed;
    border-width: 1px 0;
    background-color: #F2F2F2;
}

.usd2 {
    border-width: 1px;
    border-style: dashed;
}

.usd li {
    float: left;
    margin-right: 1%;
    width: 48%;
}

.e {
    overflow: hidden;
}

.e .i, .el .i {
    padding: 6px 10px;
    border-bottom: 1px dashed #ededed;
    background: #F7F7F7;
}

.el {
}

.et {
    margin: 20px 0 10px;
}

.el li {
    padding: 10px 20px;
    min-height: 20px;
    border-bottom: 1px dashed #ededed;
}

.ie6 .el, .ie6 .el li {
    zoom: 1;
}

.el .t {
    position: absolute;
    margin: 1px 0 0 -20px;
}

.el .o {
    overflow: hidden;
    float: right;
    margin: 4px -20px -4px 0;
    width: 16px;
    height: 16px;
    text-indent: 20px;
    background: url(../images/op.png) no-repeat -2px -62px;
}

.ie6 .el .o {
    position: absolute;
    margin: 2px 0 0 525px;
}

.el .del {
    background-position: -2px -22px;
}

.el .d {
    padding-top: 10px;
    color: #666;
}

.ec .tn {
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.ec a .tn {
    float: left;
    padding: 2px;
    max-width: 90px;
    max-height: 90px;
    border: 1px solid #ededed;
}

.ie6 .ec a .tn {
    width: expression(this.width > 90 && this.width >= this.height ? 90:true);
    height: expression(this.height > 90 && this.width <= this.height ? 90:true);
}

.el .ec .hot {
    float: right;
    margin: 10px 0 0 10px;
    width: 55px;
    height: 50px;
    background: url(../images/hotspot.gif) no-repeat;
}

.el .ec .hot a {
    display: block;
    line-height: 20px;
    text-align: center;
    color: #FFF;
}

.el .ec .hot a:hover {
    text-decoration: none;
}

.el .ec .hot em {
    display: block;
    line-height: 30px;
    font-size: 16px;
    color: #07AEFC;
    cursor: pointer;
}

.el a {
    color: #07AEFC;
}

.xlda .el {
    overflow: hidden;
    float: left;
    margin-top: -4px;
    width: 100%;
}

.xlda .el li {
    margin-bottom: -4px;
    padding-top: 14px;
}

.ie6 .xlda .el .o {
    margin: 2px 0 0 460px;
}

#share_preview .h {
    display: none;
}

.quote {
    overflow: hidden;
    margin: 10px 0;
    padding-left: 16px;
    background: url(../images/qa.gif) no-repeat 0 0;
    color: #666;
}

.quote blockquote {
    display: inline;
    margin: 0;
    padding-right: 16px;
    background: url(../images/qz.gif) no-repeat 100% 100%;
}

.m_c .quote {
    width: 585px;
}

.blockcode {
    overflow: hidden;
    margin: 10px 0;
    padding: 5px 10px;
    background: #F7F7F7;
    color: #666;
}

.blockcode code {
    font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', serif;
    font-size: 12px;
    line-height: 1.8em;
}

* html .blockcode code {
    font-family: 'Courier New', serif;
}

.pattl {
    overflow: hidden;
    padding: 1em 0;
    width: 100%;
    font-size: 12px;
}

.tatt, .t_attach_img {
    padding: 5px;
    color: #999;
    font-size: 12px;
}

.tatt {
    width: 240px;
}

.tatt em {
    color: #999;
}

.t_attachinsert {
    margin: 1em 0;
    font-size: 12px;
}

.t_attachinsert p img {
    margin-bottom: -4px;
}

.t_table {
    border: 1px solid #E3EDF5;
    empty-cells: show;
    border-collapse: collapse;
}

.pl table.t_table {
    table-layout: auto;
}

.t_table td {
    padding: 4px;
    border: 1px solid #E3EDF5;
    overflow: hidden;
}

.tattl {
    float: left;
    overflow: hidden;
    padding: 10px 10px 10px 0;
    width: 45%;
    height: 64px;
}

.tattl a {
    color: #07AEFC;
    text-decoration: underline;
}

.tattl dt {
    float: left;
    width: 40px;
    font-weight: 700;
}

.tattl strong {
    margin-right: 6px;
    color: #F26C4F;
    font-weight: 400;
}

.tattl dt img {
    width: 32px;
    height: 32px;
}

.tattl dd {
    margin-left: 40px;
    color: #999;
}

.attnm {
    height: 18px;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
}

* html .attnm {
    white-space: normal;
}

.attm {
    overflow: visible;
    float: none;
    width: 100%;
    height: auto;
}

.attm dt {
    width: 0;
}

.attm dd {
    margin-left: 0;
}

.zoom {
    cursor: pointer;
}

.attp {
    width: 180px;
    text-align: left;
}

.tattl .attp {
    width: 240px;
}

.attprice {
    padding: 5px;
    border: 1px dashed #FF9A9A;
}

.zoominner {
    padding: 5px 10px 10px;
    background: #FFF;
    text-align: left;
}

.zoominner p {
    padding: 8px 0;
}

.zoominner p a {
    float: left;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    background: url(../images/imgzoom_tb.gif) no-repeat 0 0;
    line-height: 100px;
    overflow: hidden;
}

.zoominner p a:hover {
    background-position: 0 -39px;
}

.zoominner p a.imgadjust {
    background-position: -40px 0;
}

.zoominner p a.imgadjust:hover {
    background-position: -40px -39px;
}

.zoominner p a.imgclose {
    background-position: -80px 0;
}

.zoominner p a.imgclose:hover {
    background-position: -80px -39px;
}

.zimg_c {
    position: relative;
}

.zimg_prev, .zimg_next {
    display: block;
    position: absolute;
    width: 80px;
    height: 100%;
    background: url(../images/pic-prev.png) no-repeat 0 -100px;
    cursor: pointer;
}

.zimg_next {
    right: 10px;
    background-image: url(../images/pic-next.png);
    background-position: 100% -100px;
}

.zimg_c img {
    margin: 0 auto;
}

.zimg_p strong {
    display: none;
}

.relatedlink, .relatedlink:hover {
    text-decoration: none !important;
    color: #444 !important;
    border-bottom: 1px solid blue;
}

.favmark {
    margin-bottom: -3px;
}

.vw {
}

.vw .h {
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
}

.vw .ph {
    padding: 15px 0 10px;
    color: #444;
}

.vw .hot {
    margin-right: 5px;
    color: #F26C4F;
}

.vw .s {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    line-height: 2;
    color: #07AEFC;
}

.vw .s strong {
    font-weight: 400;
    color: red;
}

.vw .d {
    margin: 15px 0;
    min-height: 100px;
    font-size: 14px;
    line-height: 1.8;
    color: #000;
}

.vw .d i {
    font-style: italic;
}

.vw .d img {
    max-width: 620px;
}

.ie6 .vw .d img {
    width: expression(this.width > 620 ? 620:true);
}

.vwtb {
    table-layout: fixed;
    width: 100%;
    height: 300px;
}

.vw .pattl_c .tip {
    line-height: 1.5;
}

#article_content {
    vertical-align: top;
}

.vw .d ol, .vw .d ul {
    margin: 1em 2em;
}

.vw .d ul li {
    list-style-type: disc;
}

.vw .d .ml, .vw .d .xl {
    margin: 0;
}

.vw .d .ml li {
    list-style-type: none;
}

.vw .attach {
    padding-left: 20px;
    background: url(../images/fach.gif) no-repeat 0 50%;
    color: #07AEFC;
}

.vw .o {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #ededed;
    text-align: right;
}

.vw .o .mgcmn {
    width: auto;
    text-align: left;
}

#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d {
    margin-right: 15px;
    margin-left: 15px;
}

.pic_h {
    border-radius: 5px;
}

.pic_h .h {
    border-bottom: 1px dashed #CDCDCD;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.pic_h .d {
    margin: 0 !important;
}

.albumback #ft {
    border-top: 0;
    color: #FFF;
}

.albumback #pt a, .albumback #ft a, .albumback a.thread_mod span, .albumback .vw .ph, .albumback .album_info p, .albumback .img_tit_t .xi1 {
    color: #FFF;
}

.albumback .ct2 .bm, .albumback #imagelist_nav {
    background: #000;
}

.albumback #ct {
    border-color: #CDCDCD;
}

.albumback a.thread_mod:hover span {
    color: #539BCB !important;
}

.atd {
    margin: 15px auto;
}

.atd img {
    margin-bottom: 10px;
}

.atd a {
    display: block;
}

.atd a:hover {
    text-decoration: none;
}

.atd td {
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
}

.atd .atdc {
    position: relative;
    margin: 0 auto 10px;
    width: 20px;
    height: 50px;
}

.atdc div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    text-align: left;
}

.atd .ac1 {
    background: #C30;
}

.atd .ac2 {
    background: #0C0;
}

.atd .ac3 {
    background: #F90;
}

.atd .ac4 {
    background: #06F;
}

.atdc em {
    position: absolute;
    margin: -25px 0 0 -5px;
    width: 30px;
    font-size: 11px;
    text-align: center;
    color: #999;
}

.pgm {
    clear: both;
    padding: 5px 0;
}

.pgm .pg {
    float: left;
}

.bart {
    position: relative;
    padding: 10px;
    width: 640px;
}

.bartl {
    overflow-y: scroll;
    padding: 10px;
    width: 270px;
    height: 270px;
    border: 1px solid #ededed;
}

.bartl li {
    overflow: hidden;
    width: 250px;
    height: 20px;
}

.bartl li em {
    float: left;
    width: 200px;
}

.barto {
    position: absolute;
    top: 190px;
    left: 315px;
    height: 30px;
}

.barto .pn * {
    padding: 0 8px;
}

.bart .chkall {
    padding-left: 10px;
}

#chkalldiv p {
    width: 292px;
}

.ptblk li {
    padding: 7px 0;
    border-bottom: 1px solid #ededed;
}

.ptblk em {
    margin-right: 30px;
}

.colorwd {
    margin-right: 3px;
}

.dopt input {
    float: left;
}

#nv_portal .vw .pren em {
    display: block;
    width: 100%;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background: #f4f4f4 !important;
}

.deansideboxes {
    width: 160px;
    height: 190px;
    background: #fff;
    border: 3px solid #07AEFC;
    position: fixed;
    top: 440px;
    right: 50%;
    margin-right: 600px;
    z-index: 111;
}

.deanwzadsd {
}

.deanwzadsd img {
    width: 862px;
}

.mn {
    overflow: visible;
}

.tedt, #uhd .tb .a a {
    border: 0 !important;
}

.bm_c, .bm_h {
    padding: 0;
}

.pn {
    margin-left: 0;
}

.ct2 .mn {
    width: 862px;
    float: left;
}

.deanmn_left {
    background: #fff;
    padding: 15px;
    width: 832px;
    border-top: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.ct2 .sd {
    width: 300px;
    float: right;
    overflow: visible !important;
    background: none !important;
}

.deansideadswz {
    width: 862px;
    height: 112px;
}

.deansideadswz img {
    width: 862px;
    height: 112px;
}

.pg a, .pg strong, .pgb a, .pg label {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 2px;
    padding: 0 10px;
    border: 1px solid #ededed;
    overflow: hidden;
    border-radius: 0;
    background-repeat: no-repeat;
    background: #FFFFFF;
}

.pg strong {
    background: #07AEFC;
    border-color: #07AEFC;
    color: #FFFFFF;
}

.pg a.nxt {
    padding-right: 10px;
    background: #FFFFFF;
}

.pg a.nxt:hover {
    background: #07AEFC;
    color: #FFFFFF;
}

.pg a.prev {
    background: #fff url(../images/arrowleft.png) center no-repeat;
}

.pg a.prev:hover {
    background: #07AEFC url(../images/arrowleft1.png) center no-repeat;
}

.deanwzpdtitle {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.deanwzpdtitle h4 {
    float: left;
    font-size: 22px;
    color: #293047;
    padding-left: 10px;
    border-left: 5px solid #07AEFC;
    height: 23px;
    line-height: 23px;
}

.deantools {
    float: right;
    margin-top: -2px;
}

.deantools a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 24px;
}

.deantools a.deanaddnew {
    margin-right: 5px;
    width: 70px;
    background-color: #07AEFC;
    background: linear-gradient(90deg, #5ea2ff, #00e3ff);
}

.deantools a.deanrssartice {
    background: #f90;
    width: 40px;
}

.deannextnav {
    margin: 0 0 15px 0;
}

.deannextnav h4 {
    float: left;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    line-height: 25px;
    overflow: hidden;
}

.deannextnav ul {
    width: 740px;
    float: right
}

.deannextnav ul li {
}

.deannextnav ul li a {
    display: block;
    float: left;
    height: 26px;
    border: 1px solid #07AEFC;
    border-radius: 15px;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    color: #07AEFC;
    line-height: 26px;
}

.deannextnav ul li a:hover {
    color: #fff;
    background-color: #07AEFC;
    background: linear-gradient(90deg, #5ea2ff, #00e3ff);
    border: 1px solid #fff;
}

.deanartice ul {
}

.deanartice ul li {
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #ededed;
}

.deanartice ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.deanatcertop {
}

.deanatctl {
    width: 25px;
    height: 25px;
    float: left;
}

.deanatctl img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.deanatctr {
    float: left;
    margin-left: 15px;
    width: 520px;
    height: 50px;
}

.deanarticername a {
    font-size: 16px;
    color: #666;
    font-weight: 300;
}

.deanarticername a:hover {
    color: #07AEFC;
}

.deanarticerinfo {
    height: 23px;
    line-height: 23px;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
}

.deanarticerinfo span {
    font-size: 12px;
    color: #aaa;
    line-height: 23px;
    display: inline-block;
    float: left;
}

.deanarticerinfo em {
    display: inline-block;
    float: left;
    padding: 0 10px;
    color: #e6e6e6;
    font-size: 12px;
}

.deanarticername a.deantaglebs {
    display: inline-block;
    color: #07AEFC;
    font-weight: 300;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
}

.deanarticername a.deanarttitles {
    float: left;
    width: 400px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.deanarticecomment {
    width: 56px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: -26px;
    right: -20px;
    background: #07AEFC;
}

.deanarticecomment a {
    float: right;
    font-size: 14px;
    color: #fff;
    padding-right: 5px;
    font-weight: 700;
}

.deanartice ul li .deanarticel {
    float: left;
    width: 230px;
    height: 145px;
    overflow: hidden;
    position: relative;
}

.deanartice ul li .deanarticel img {
    width: 230px;
    height: 145px;
    position: absolute;
    top: 0;
    left: 0;
}

.deanarticerforum {
    padding-left: 0px !important;
}

.deanarticerforum a {
    display: block;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #999;
}

.deanarticerforum a:hover {
    color: #07AEFC;
}

.deanartice ul li .deanarticel:hover em {
    left: 287px;
    transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    -webkit-transition: .7s;
}

.deanartice ul li .deanarticer {
    float: right;
    width: 585px;
    position: relative;
}

.deanartice ul li .deanarticer h5 {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}

.deanartice ul li .deanarticer h5 a {
    font-size: 18px;
    color: #333;
}

.deanartice ul li .deanarticer h5 a:hover {
    color: #07AEFC
}

.deanarticec {
}

.deanarticersummary {
    color: #999;
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 25px;
}

.deanarticermiddle {
    margin: 5px 0;
    font-size: 12px;
    color: #999;
}

.deanarticermiddle span {
    display: inline-block;
    padding-left: 15px;
    margin-right: 4px;
    background: url(../images/user.png) left center no-repeat;
}

.deanlistsright {
    float: right;
    width: 255px;
}

.deanattltop {
    height: 34px;
    line-height: 34px;
}

.deanattltop a.deantaglebs {
    display: block;
    float: left;
    padding: 0 10px;
    background-color: #07AEFC;
    background: linear-gradient(90deg, #5ea2ff, #00e3ff);
    font-size: 12px;
    color: #fff;
    border-radius: 24px;
    height: 22px;
    line-height: 22px;
}

.deanattltop a.deanarttitles {
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: #333;
    height: 22px;
    line-height: 22px;
    font-weight: 300;
}

.deanattltop a.deanarttitles:hover {
    color: #07AEFC;
}

.deanguanzhu {
    width: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.deanguanzhu img {
    width: 300px;
}

.deangzbox {
    padding: 15px;
}

.deangzewm {
    width: 99px;
    height: 99px;
    float: left;
}

.deangzewm img {
    width: 99px;
    height: 99px;
}

.deangzret {
    float: right;
    width: 150px;
}

.deangzret h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 21px;
    height: 21px;
    overflow: hidden;
    font-weight: 300;
    color: #333;
}

.dean_des {
    position: relative;
    padding: 12px 18px;
}

.dean_des i {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
}

.dean_des i.decorate-top-left {
    top: 0;
    left: 0;
    border-top: 2px solid #D8D8D8;
    border-left: 2px solid #D8D8D8;
}

.dean_des i.decorate-top-right {
    top: 0;
    right: 0;
    border-top: 2px solid #D8D8D8;
    border-right: 2px solid #D8D8D8;
}

.dean_des i.decorate-bottom-left {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #D8D8D8;
    border-left: 2px solid #D8D8D8;
}

.dean_des i.decorate-bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #D8D8D8;
    border-right: 2px solid #D8D8D8;
}

.dean_des p {
    font-size: 14px;
    color: #999;
}

.deangzlists {
    margin-top: 15px;
}

.deangzlists a {
}

.deangzlists a.deansina {
    float: left;
    display: block;
    border-radius: 2px;
    width: 108px;
    height: 17px;
    border: 1px solid #FF6867;
    padding: 8px 10px;
}

.deangzlists a.deansina span.deansinaicon {
    border-right: 1px solid #FF6867;
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    float: left;
    width: 18px;
    height: 15px;
    background: url(../images/weibo.png) center no-repeat;
}

.deangzlists a.deansina span.deansinatxt {
    font-size: 12px;
    color: #FF6867;
}

.deangzlists a.deansina:hover {
    background: #EC4141;
}

.deangzlists a.deansina:hover span.deansinaicon {
    border-right: 1px solid #fff;
    background: url(../images/weibo1.png) center no-repeat;
}

.deangzlists a.deansina:hover span.deansinatxt {
    color: #fff;
}

.deangzlists a.deanqqqun {
    display: block;
    float: right;
    border-radius: 2px;
    width: 108px;
    height: 17px;
    border: 1px solid #01A3E3;
    padding: 8px 10px;
}

.deangzlists a.deanqqqun span.deanqqqunicon {
    border-right: 1px solid #01A3E3;
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    float: left;
    width: 13px;
    height: 15px;
    background: url(../images/qq.png) center no-repeat;
}

.deangzlists a.deanqqqun span.deanqqquntxt {
    font-size: 12px;
    color: #01A3E3;
}

.deangzlists a.deanqqqun:hover {
    background: #01A3E3;
}

.deangzlists a.deanqqqun:hover span.deanqqqunicon {
    border-right: 1px solid #fff;
    background: url(../images/qq1.png) center no-repeat;
}

.deangzlists a.deanqqqun:hover span.deanqqquntxt {
    color: #fff;
}

.deanpubtitle {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}

.deanpubtitle h4 {
    float: left;
    font-size: 22px;
    color: #293047;
    padding-left: 10px;
    border-left: 5px solid #07AEFC;
    height: 23px;
    line-height: 23px;
}

.deanpubtitle .deanpbright {
    float: right;
    height: 30px;
    line-height: 30px;
}

.deanpubtitle .deanpbright a {
    font-size: 14px;
    color: #999;
    margin-left: 15px;
}

.deanpubtitle .deanpbright a span {
    color: #07AEFC;
    font-weight: 300;
    font-size: 18px;
}

.deanpubtitle .deanpbright a:hover {
    color: #07AEFC;
}

.deansidebox {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.focusBox {
    position: relative;
    width: 270px;
    overflow: hidden;
}

.focusBox .pic li {
}

.deanfocuspic {
    width: 270px;
    height: 168px;
}

.deanfocuspic img {
    width: 270px;
    height: 168px;
}

.deanfocusbox {
}

.deanfocusbox h5 {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin: 8px 0;
}

.deanfocusbox h5 a {
    font-size: 16px;
    color: #333;
    font-weight: 300;
}

.deanfocusbox h5 a:hover {
    color: #07AEFC;
}

.deanfocusbox p {
    font-size: 12px;
    color: #999;
    line-height: 22px;
}

.deanfocusbox p a {
    padding-left: 10px;
    font-size: 12px;
    color: #07AEFC;
}

.focusBox .hd {
    overflow: hidden;
    zoom: 1;
    position: absolute;
    width: 273px;
    bottom: 90px;
    left: 88px;
    z-index: 3
}

.focusBox .hd li {
    float: left;
    text-align: center;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    background: #f5f5f5;
    margin: 0 2px;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease
}

.focusBox .hd .on {
    background: #07AEFC;
}

.focusBox .prev, .focusBox .next {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 36px;
    height: 28px;
    color: #FFF;
    text-align: center;
    top: 67px;
    line-height: 28px;
    font-size: 20px;
    text-decoration: none;
}

.focusBox .prev {
    left: 0;
}

.focusBox .next {
    right: 0;
}

.focusBox .prev:hover, .focusBox .next:hover {
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    opacity: .6
}

.deangltt {
    width: 280px;
}

.deangltt em {
    display: block;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    float: left;
    background-color: #07AEFC;
    background: linear-gradient(90deg, #5ea2ff, #00e3ff);
}

.deangltt a {
    float: left;
    width: 217px;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    color: #333;
    overflow: hidden;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.deangltt a:hover {
    color: #07AEFC;
}

.deangllists {
    margin-top: 10px;
}

.deangllists ul li {
    line-height: 31px;
    height: 31px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.deangllists ul li em {
    display: block;
    float: left;
    height: 30px;
    width: 21px;
    position: absolute;
    left: 0;
    background: url(../images/news_icon.jpg) center no-repeat;
}

.deangllists ul li a {
    font-size: 14px;
    color: #666;
    display: block;
    float: left;
    border-left: 1px #eee solid;
    margin-left: 10px;
    text-indent: 20px;
    width: 95%;
    line-height: 31px;
    height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deangllists ul li a:hover {
    color: #07AEFC
}

.deangllists ul li i {
    color: #999;
    display: block;
    float: right;
    font-size: 12px;
    font-style: normal;
    margin-right: 10px;
}

.deangllists ul li:hover em {
    background: url(../images/news_icon2.jpg) center no-repeat;
}

.deanjczxbox {
    margin-top: 15px;
}

.deanonvideos {
}

.deanonvideos ul {
    width: 300px;
}

.deanonvideos ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 130px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.deanonvideos ul li img {
    width: 130px;
    height: 80px;
    opacity: 1;
}

.deanonvideos ul li a {
    display: block;
    width: 130px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.deanonvideos ul li a em {
    display: block;
    line-height: 16px;
    width: 90%;
    padding: 7px 5%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: normal;
}

.deanranklistbox {
}

.deanranklistbox ul li {
    margin-bottom: 14px;
    cursor: pointer;
}

.deanranklistbox ul li:last-child {
    margin-bottom: 5px;
}

.deanoutters {
}

.deanoutters em {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #999;
    font-weight: 300;
}

.deanoutters em.deanbgcolor1s {
    color: #fff;
    background: url(../images/c1.png) center no-repeat;
}

.deanoutters a {
    display: block;
    float: right;
    width: 235px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.deanoutters a:hover {
    color: #07AEFC
}

.deaninners {
    margin-top: 10px;
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.deaninnerspitfd {
    float: left;
    width: 100px;
    height: 70px;
    border: 1px solid #ededed;
}

.deaninnerspitfd a {
}

.deaninnerspitfd a img {
    width: 100px;
    height: 70px;
}

.deaninerinfosd {
    float: right;
    width: 155px;
}

.deaninerinfosd p {
    height: 50px;
    line-height: 25px;
    color: #999;
    overflow: hidden;
    font-size: 14px;
}

.deanrlifd {
    margin-top: 2px;
    font-size: 12px;
    color: #666;
}

.deanrlifd i {
    padding: 0 5px;
    color: #999;
}

.deanranklistbox ul li.on .deaninners {
    display: block;
    opacity: 1;
}

.deanoutters em.deanbgcolor2s {
    color: #fff;
    background: url(../images/c2.png) center no-repeat;
}

.deanimg_news {
    width: 277px;
    overflow: hidden;
    margin-top: 10px;
}

.deanimg_news a {
    display: block;
    overflow: hidden;
    float: left;
    width: 135px;
    height: 80px;
    position: relative;
    font-size: 12px;
    color: #fff;
}

.deanimg_news a img {
    width: 135px;
    height: 80px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.deanimg_news a span {
    width: 100%;
    height: 36px;
    padding: 7px 0;
    position: absolute;
    top: 21px;
    left: 0;
    line-height: 18px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.deanimg_news a span em {
    display: block;
    height: 36px;
    font-style: normal;
    overflow: hidden;
    padding: 0 15px;
}

.deanimg_news a:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.deanimg_news a:hover span {
    top: 0;
    padding: 28px 0;
    background: rgba(255, 255, 255, .8);
    color: #07AEFC;
}

.deansideads {
    margin-bottom: 15px;
    width: 300px;
}

.deansideads a img {
    width: 300px;
}

.deansideads a {
    display: block;
    width: 300px;
    height: 300px;
    position: relative;
}

.deansideads a span {
    display: block;
    width: 32px;
    height: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url(../images/adsicon.png) center no-repeat;
}

.deanjianjie_wz {
    float: left;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #07AEFC;
    position: relative;
}

.deanjianjie_wz:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #FFF;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 0;
}

.deansummary_wz {
    padding-left: 66px;
    font-size: 14px;
    color: #999;
}

#nv_portal .vw .h {
    margin: 0;
}

#nv_portal .vw .s {
    margin: 10px 0;
    height: 55px;
    border-bottom: 1px dotted #ededed;
}

.vw .ph {
    color: #555;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 0;
    width: 700px;
    height: 37px;
    overflow: hidden;
    line-height: 37px;
}

.vw .s {
    border: 0;
}

.tedt {
    border-color: #eaeaea;
    margin-bottom: 10px;
}

.pn {
    margin-left: 5px;
}

.bm {
    border: 0;
    background: none;
}

.vw .h {
    border: 0;
}

.vw .o {
    border: 0;
}

.bm_h {
    height: 40px;
    line-height: 52px;
    background: none;
    font-family: microsoft yahei;
    font-size: 16px;
    color: #243E52;
    border-bottom: 0;
}

.bm_h h3 {
    font-weight: 300;
}

.pn {
    background: #07AEFC;
    color: #fff;
    font-size: 16px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 0;
    font-family: Microsoft Yahei;
}

.tedt {
    width: 100%;
}

.vw .hm {
    text-align: left;
}

.h .xg1, .h .xg1 a {
    color: #ACACAC !important;
}

.vw .h {
    border: none;
    padding-bottom: 0;
}

.vw .s {
    margin: 10px auto;
}

.vw .s {
    color: #555;
}

.vw .d img {
    max-width: 812px !important;
}

#nv_portal .vw .d {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ededed;
}

#nv_portal .vw .pren {
    margin: 10px 0 0 0;
}

#nv_portal .vw .pren em {
    width: 46%;
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-size: 14px;
    color: #07AEFC;
    background: url(../images/rt_ico2.png) left center no-repeat;
    padding-left: 15px;
}

#nv_portal .vw .pren em a {
    color: #999;
    font-size: 14px;
    text-overflow: ellipsis;
}

#nv_portal .vw .pren em a:hover {
    color: #07AEFC;
}

#related_article .bm_c {
    padding: 15px 0;
}

#related_article .xl2 li {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    margin: 0;
}

.mls .avt img {
    width: 46px;
    height: 46px;
    padding: 0;
    max-width: 100%;
    vertical-align: top;
    border-radius: 50%;
    _width: 34px;
    border: none;
}

#click_div h3.xs1, #click_div h3.xs1 a {
    font-size: 14px !important;
    color: #555;
}

.quote blockquote {
    color: #07AEFC;
}

.deanartcomment {
    border-bottom: 1px solid #ededed;
    height: 40px;
}

.deanartcomment h3 {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    padding-left: 35px;
    width: 90px;
    height: 40px;
    line-height: 40px;
    background: url(../images/pinglun.png) left center no-repeat;
}

#comment_ul h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    color: #07AEFC;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ededed;
    background: url(../images/comment.png) left center no-repeat;
}

#comment .deanartcomment em {
    margin-left: 20px;
    color: #999;
    font-size: 12px;
}

#comment .deanartcomment em span {
    color: #07AEFC;
    font-size: 18px;
    padding: 0 5px;
}

#comment_ul {
    padding-top: 5px;
}

#comment_ul ul {
    padding-left: 25px;
}

#comment_ul ul li dd {
    font-size: 14px;
    color: #999;
}

#comment_ul ul li a.username {
    font-size: 12px;
    color: #474747;
}

#comment_ul .ptn a {
    font-size: 14px;
    color: #07AEFC;
}

#comment_ul .mbm {
    position: relative;
}

#comment_ul .portrait {
    position: absolute;
    left: -50px;
    top: 0;
}

#comment_ul .portrait img {
    width: 30px;
    height: 30px;
    max-width: 100%;
    vertical-align: top;
    border-radius: 50%;
    _width: 24px;
}

#comment_ul .username {
    margin-right: 10px;
}

#comment_ul .xg1, #comment_ul .xg1 a {
    color: #ccc !important;
}

.tedt .area {
    padding: 10px 0 0 0;
}

.tedt {
    border: none;
}

.tedt .pt {
    min-height: 100px;
    padding: 8px 10px !important;
    line-height: 1.6;
    border: 1px solid #ededed;
    background-color: #fefefe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    vertical-align: middle;
    resize: vertical;
    color: #999;
}

.tedt .pt.bgchange {
    background: #FFF;
    background-color: #FFF;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    color: #BBB;
}

.ptn {
    padding-top: 15px !important;
}