<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$article.title}-{$site.title}</title>
    <meta name="description" content="{$site.description}" />
    <meta name="keywords" content="{$site.keywords}" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/view.css" />
</head>
{include file="common/header" /}
<div id="wp" class="wp">
    <div id="ct" class="ct2 wp cl" style="width:1180px!important; margin:20px auto;">
        <div class="mn">
            <div class="deanneirong_c">
                <div class="deanacticletop">
                    <h4>{$article.title}</h4>
                </div>
                <div class="deanmanagerart">
                    <span class="deanedit">来源：网络</span>
                    <span class="deanshoucang">发布时间：2018-12-02 08：23：25</span>
                    <span class="deanyaoqing">浏览量：360</span>
                </div>
                <div class="bm vw">
                    <div class="content">
                        {$article.content}
                        <div class="o cl ptm pbm"></div>
                    </div>
                    <div id="comment" class="bm">
                        <div class="deanartcomment">
                            <em class="y">该文章已有<span>0</span>人参与评论</em>
                            <h3>请发表评论</h3>
                        </div>
                        <div id="comment_ul">
                            <div class="tedt" id="tedt">
                                <div class="area">
                                    <textarea name="message" rows="3" class="pt" id="message" placeholder="立即登录发表您的看法吧^0^" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea>
                                </div>
                            </div>
                            <div class="mb15 cl">
                                <div class="mtm z"><span id="seccode_cSlwBm1z"></span></div>
                                <input type="hidden" name="portal_referer" value="portal.php?mod=view&aid=1880#comment">
                                <input type="hidden" name="referer" value="portal.php?mod=view&aid=1880#comment" />
                                <input type="hidden" name="id" value="0" />
                                <input type="hidden" name="idtype" value="" />
                                <input type="hidden" name="aid" value="1880">
                                <input type="hidden" name="formhash" value="7e6d50ef">
                                <input type="hidden" name="replysubmit" value="true">
                                <input type="hidden" name="commentsubmit" value="true" />
                                <p class="pt10 cl y">
                                    <button type="submit" name="commentsubmit_btn" id="commentsubmit_btn" value="true" class="pn y">评论</button>
                                </p>
                            </div>
                            <h3>全部评论</h3>
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/left"}
        <div class="clear"></div>
    </div>
</div>
{include file="common/footer"}
</body>

</html>
