<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>行业资讯 - 源码搜论坛 </title>
    <meta name="description" content="行业资讯,建站资讯,IT资讯 - 最新网络资讯"/>
    <meta name="keywords" content="行业资讯,建站资讯,IT资讯"/>
    <meta name="MSSmartTagsPreventParsing" content="True"/>
    <meta http-equiv="MSThemeCompatible" content="Yes"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/list.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/animate.min.css">
</head>
{include file="common/header" /}
<div id="wp" class="wp">

    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">源码搜论坛</a> <em>&rsaquo;</em>
            <a href="http://www.codesou.com/portal.php">首页</a> <em>&rsaquo;</em>行业资讯
        </div>
    </div>

    <div id="ct" class="ct2 wp cl" style="width:1180px!important; margin:0px auto!important;">
        <div class="mn">
            <div class="deanwzadsd">
                <div class="area">
                    <img src="static/picture/ads.jpg"/>
                </div>
            </div>
            <div class="deanmn_left">
                <div class="listr">
                    {if condition="$cat_list"}
                        <div class="ilist">
                        {volist name="$cat_list" id="v" key="k" mod="2"}
                        <div class="newsa {eq name="mod" value="1"}f_r{else}Left{/eq}">
                            <div class="newsa_t">
                                <h3>{$v.cat.name}</h3>
                                <font>{$v.cat.nickname}</font><span><a href="cat-{$v.cat.id}.html" target="_blank">更多&gt;&gt;</a></span></div>
                            <ul>
                            {volist name="$v.list" id="lv"}
                                <li>
                                    <p><a href="article-{$lv.id}.html" title="{$lv.title}">{$lv.title}</a></p>
                                    <span>01-04</span>
                                </li>
                            {/volist}
                            </ul>
                        </div>
                        {eq name="mod" value="1"}</div><div class="ilist">{/eq}
                        {/volist}
                    </div>
                    {/if}
                    <div>
                        <a href="http://idc.xiuzhanwang.com/" target="_blank"><img src="static/picture/listinter_ad.jpg" alt="站长网|站长行业资讯|草根站长网"></a>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/left"}
    </div>
</div>
{include file="common/footer"}
</body>
</html>

