<script defer="defer" src="static/js/plugin.js"></script>
<div class="deanfooter">
    <div class="deanfttop">
        <div class="w1180">
            <div class="deanfttl">
                <div class="deanftlogo"><img src="static/picture/ftlogo.png" /></div>
                <div class="deanftguanzhu">
                    <div class="deanftgzpic">
                        <img src="static/picture/erweima.png" />
                        <span>官方交流平台</span>
                    </div>
                    <div class="deanftgzingo">
                        <p>域名：codesou.com</p>
                        <p>名称：源码搜论坛</p>
                        <p>站长：1943759704</p>
                        <p>QQ群：831818825</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="deanfttm">
                <ul>
                    <li>
                        <h5>模板源码</h5>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=42&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_geshi=10" target="_blank">WordPress模板</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=42&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_geshi=7" target="_blank">Discuz模板</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=42&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_geshi=1" target="_blank">DedeCms模板</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=42&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_geshi=17" target="_blank">手机模板</a>
                    </li>
                    <li>
                        <h5>源码种类</h5>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=48&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_leibie=2" target="_blank">PHP源码</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=48&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_leibie=1" target="_blank">ASP源码</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=48&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_leibie=3" target="_blank">NET源码</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=48&amp;filter=sortid&amp;sortid=2&amp;searchsort=1&amp;d_leibie=4" target="_blank">JSP源码</a>
                    </li>
                    <li>
                        <h5>关于我们</h5>
                        <a href="#" target="_blank">关于我们</a>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=59" target="_blank">帮助中心</a>
                        <a href="/forum.php?mod=viewthread&amp;tid=97" target="_blank">权益保障</a>
                        <a href="/forum.php?mod=viewthread&amp;tid=96" target="_blank">下载须知</a>
                    </li>
                    <li>
                        <h5>网站功能</h5>
                        <a href="/forum.php?mod=forumdisplay&amp;fid=37" target="_blank">视频教程</a>
                        <a href="#" target="_blank">成为VIP</a>
                        <a href="/forum.php?mod=viewthread&amp;tid=89" target="_blank">版权声明</a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="deanfttr">
                <div class="deanfttels">
                    <i></i>
                    <div class="deanfttelr">
                        <h3>全国服务热线:</h3>
                        <p>400-123-456789</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="deantelbtms">（工作日：周一至周五 9:00-16:00）</div>
                <div class="deanftitelsd">重庆市渝中区中山三路21号</div>
                <div class="deanftitelem">1943759704@qq.com</div>
                <div class="deankfqq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1943759704&amp;site=qq&amp;menu=yes" target="_blank">QQ在线客服</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="deanftbottom">
        <p class="deanpp">
            <a href="http://www.codesou.com/archiver/">Archiver</a><span class="pipe">-</span><a href="http://m.codesou.com">手机版</a><span class="pipe">-</span><a href="http://www.codesou.com/forum.php?mod=misc&action=showdarkroom">小黑屋</a><span class="pipe">-</span> <a href="http://www.codesou.com/" target="_blank">源码搜论坛</a>
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?b599b567087c03918ea24b0002aae112";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        </p>
        <p>
            Copyright © 2018-2022 源码搜论坛版权所有！ &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">渝ICP备14006307号-4</a> </p>
        <div class="deanbutNav">
            <a title="工商网监" href="#" target="_blank"><img src="static/picture/botpic_r1_c4.png"></a>
            <a title="安全联盟实名认证" href="#" target="_blank"><img src="static/picture/botpic_r1_c1.jpg"></a>
            <a href="#" target="_blank">
                <img src="static/picture/botpic_r1_c5.png" width="100" alt="安全联盟认证" />
            </a>
            <a title="财付通" href="#" target="_blank"><img src="static/picture/botpic_r1_c2.jpg"></a>
            <a title="支付宝" href="#" target="_blank"><img src="static/picture/botpic_r1_c3.jpg"></a>
        </div>
    </div>
</div>
<div id="ft" style=" display:none;">
</div>
<script src="static/js/home.js" type="text/javascript"></script>
<div id="scrolltop" style="display:none;">
    <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" id="scrolltopa" ><b>返回顶部</b></a></span>
</div>
<script type="text/javascript">
    _attachEvent(window, 'scroll', function() {
        showTopLink();
    });
    checkBlind();
</script>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "slide": {
            "type": "slide",
            "bdImg": "2",
            "bdPos": "right",
            "bdTop": "100"
        },
        "image": {
            "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
            "viewText": "分享到：",
            "viewSize": "16"
        }
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<script src="static/js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('img').lazyload();
    });
</script>