<div class="sd pph">
    <div class="deanguanzhu">
        <div class="area">
            <div class="portal_block_summary">
                <a href="#" target="_blanks"> <img src="static/picture/guanzhu.jpg"></a>
                <div class="deangzbox">
                    <div class="deangzewm"><img src="static/picture/app_qrcode.jpg"></div>
                    <div class="deangzret">
                        <h3>源码搜论坛交流群</h3>
                        <div class="dean_des">
                            <i class="decorate-top-left"></i>
                            <i class="decorate-top-right"></i>
                            <i class="decorate-bottom-left"></i>
                            <i class="decorate-bottom-right"></i>
                            <p>扫码参与交流<br>给你想要与成长</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="deangzlists">
                        <a href="#" target="_blank" class="deansina">
                            <span class="deansinaicon"></span>
                            <span class="deansinatxt">关注官方微博</span>
                            <div class="clear"></div>
                        </a>
                        <a href="#" target="_blank" class="deanqqqun">
                            <span class="deanqqqunicon"></span>
                            <span class="deanqqquntxt">加入官方Q群</span>
                            <div class="clear"></div>
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 排行榜 -->
    <div class="deansidebox">
        <div class="deanpubtitle">
            <h4>阅读排行榜</h4>
            <div class="deanpbright">
                <a href="#" target="_blank">更多</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="deanranklistbox">
            <ul>
                <li class="on">
                    <div class="deanoutters">
                        <em class="deanbgcolor1s">1</em>
                        <a href="http://www.codesou.com/article-235-1.html" target="_blank">[汇码资讯]多域名301跳转合并，对于SEO的影</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-235-1.html"
                               target="_blank">
                                <img src="static/picture/63bb1f57a52f3fce22859dd72330292b.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>在SEO的日常工作中，我们经常会遇到从新建站的问题，那么随之而来的也就面临域名改变</p>
                            <div class="deanrlifd">
                                阅读：254<i>|</i>2018-10-19
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s">2</em>
                        <a href="http://www.codesou.com/article-540-1.html" target="_blank">教你利用百度产品来推广自己的网站</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-540-1.html"
                               target="_blank">
                                <img src="static/picture/1b93ef82d54fea3fe3b7ef364a779a5d.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p> 　　百度是各位站长流量最大的来源，下面小编来讲讲如何利用百度的产品推广自己的网</p>
                            <div class="deanrlifd">
                                阅读：125<i>|</i>2018-10-30
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s">3</em>
                        <a href="http://www.codesou.com/article-1736-1.html"
                           target="_blank">企业建站可行性分析</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-1736-1.html"
                               target="_blank">
                                <img src="static/picture/f7143abc10eaa897c7720761e33bc249.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>一、需求背景及其意义需求背景:了解企业建站需要先了解当前中国的互联网化情况和当前</p>
                            <div class="deanrlifd">
                                阅读：46<i>|</i>2018-11-06
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">4</em>
                        <a href="http://www.codesou.com/article-381-1.html"
                           target="_blank">崇左：从边陲“末梢”走向开辟开放前沿_经</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-381-1.html"
                               target="_blank">
                                <img src="static/picture/340cecc8ba89ddd28c71d58668642ab9.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>　　在故国西南方陲，有一个很特别的疆域都会。它既古老又年轻，有浓厚的壮族边关文化</p>
                            <div class="deanrlifd">
                                阅读：829<i>|</i>2018-10-27
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">5</em>
                        <a href="http://www.codesou.com/article-1562-1.html"
                           target="_blank">WordPress建站教程</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-1562-1.html"
                               target="_blank">
                                <img src="static/picture/12432a28e78fc3c443c62f9fc2b6b218.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>　　WordPress是一种使用PHP语言和MySQL数据库开发的开源、免费的Blog(博客，网志)引</p>
                            <div class="deanrlifd">
                                阅读：73<i>|</i>2018-11-03
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">6</em>
                        <a href="http://www.codesou.com/article-1674-1.html"
                           target="_blank">35款值得网站开辟者收藏的JAVASCRIPT图形图</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-1674-1.html"
                               target="_blank">
                                <img src="static/picture/4a7ad332846f14f64fd51cbaaea60d06.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p> 　　图表是数据图形化的表现，通过形象的图表来展示数据，好比条形图，折线图，饼图</p>
                            <div class="deanrlifd">
                                阅读：911<i>|</i>2018-11-05
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">7</em>
                        <a href="http://www.codesou.com/article-342-1.html"
                           target="_blank">竹子建站助天使印象儿童摄影响应式网站上线</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-342-1.html"
                               target="_blank">
                                <img src="static/picture/233526ivtahtn9iv3ahz6i.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>　　官网已经成为企业通过互联网获得客户、展示品牌最重要的渠道之一，随着移动互联网</p>
                            <div class="deanrlifd">
                                阅读：51<i>|</i>2018-10-26
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">8</em>
                        <a href="http://www.codesou.com/article-1513-1.html"
                           target="_blank">13大网络营销最有效的免费推广方式</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-1513-1.html"
                               target="_blank">
                                <img src="static/picture/115505d6gs783awfnfixl5.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>    随着互联网的蓬勃发展，网络营销对企业来说，越来越重要，企业除了网络上投放</p>
                            <div class="deanrlifd">
                                阅读：102<i>|</i>2018-11-02
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">9</em>
                        <a href="http://www.codesou.com/article-1888-1.html"
                           target="_blank">百度站长平台网站logo考核示例以及个人总结</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-1888-1.html"
                               target="_blank">
                                <img src="static/picture/122003ogqz7tqnqtzgd2e1.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>　　对许多做SEO的人来说，百度站长社区，是再认识不外的了，许多的站长在这内里，交</p>
                            <div class="deanrlifd">
                                阅读：127<i>|</i>2018-12-04
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="deanoutters">
                        <em class="deanbgcolor1s deanbgcolor2s">10</em>
                        <a href="http://www.codesou.com/article-192-1.html" target="_blank">制定Seo策略前的思考</a>
                        <div class="clear"></div>
                    </div>
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="http://www.codesou.com/article-192-1.html"
                               target="_blank">
                                <img src="static/picture/153046me9hbk6ej9zkufn6.jpg"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>    第一、知道网站优化的具体目的每一个seo项目执行之前都要有一份详尽的计划，</p>
                            <div class="deanrlifd">
                                阅读：112<i>|</i>2018-10-19
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            jq(".deanranklistbox ul li").each(function (s) {
                jq(this).hover(function () {
                    jq(this).addClass("on").siblings().removeClass("on");
                })
            })
        </script>
    </div>
    <!-- 专访 -->
    <div class="deansidebox">
        <div class="deanpubtitle">
            <h4>专访</h4>
            <div class="deanpbright">
                <a href="#" target="_blank">更多</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="deanimg_news">
            <a
                    href="http://www.codesou.com/article-1891-1.html" target="_blank"
                    title="以国表里着名网站为例 关于网站分页导航的一些思索"><img
                    src="static/picture/83935edf582567247e03d4d0353d3049.jpg" width="150"
                    height="85"
                    alt="以国表里着名网站为例 关于网站分页导航的一些思索"><span><em>以国表里着名网站为例 关于网站分页导航的</em></span></a><a
                href="http://www.codesou.com/article-1888-1.html" target="_blank"
                title="百度站长平台网站logo考核示例以及个人总结"><img
                src="static/picture/630e5b257b7349f57fd6ff4c1e92fca8.jpg" width="150"
                height="85"
                alt="百度站长平台网站logo考核示例以及个人总结"><span><em>百度站长平台网站logo考核示例以及个人总结</em></span></a><a
                href="http://www.codesou.com/article-1881-1.html" target="_blank"
                title="三沙市委书记确认：将在南海黄岩岛上建情况监测站"><img
                src="static/picture/69471d78ad67223b48d55c6705bd60c9.jpg" width="150"
                height="85"
                alt="三沙市委书记确认：将在南海黄岩岛上建情况监测站"><span><em>三沙市委书记确认：将在南海黄岩岛上建情况</em></span></a><a
                href="http://www.codesou.com/article-1880-1.html" target="_blank"
                title="中国为何要建第五个南极观察站？专家做出解答"><img
                src="static/picture/c1ae87bc7a6be42e519cc08b958ba8a4.jpg" width="150"
                height="85" alt="中国为何要建第五个南极观察站？专家做出解答"><span><em>中国为何要建第五个南极观察站？专家做出解</em></span></a>
        </div>
    </div>
    <div class="deansideads">
        <div class="portal_block_summary"><a href="#" target="_blank"><img
                src="static/picture/ads1.jpg"></a></div>
    </div>

</div>