<div class="sd pph">
    <div class="deanguanzhu">
        <div class="area">
            <div class="portal_block_summary">
                <img src="static/picture/guanzhu.jpg">
                <div class="deangzbox">
                    <div class="deangzewm"><img src="static/picture/app_qrcode.jpg"></div>
                    <div class="deangzret">
                        <h3>源码搜论坛交流群</h3>
                        <div class="dean_des">
                            <i class="decorate-top-left"></i>
                            <i class="decorate-top-right"></i>
                            <i class="decorate-bottom-left"></i>
                            <i class="decorate-bottom-right"></i>
                            <p>扫码参与交流<br>给你想要与成长</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="deangzlists">
                        <a href="#" target="_blank" class="deansina">
                            <span class="deansinaicon"></span>
                            <span class="deansinatxt">关注官方微博</span>
                            <div class="clear"></div>
                        </a>
                        <a href="#" target="_blank" class="deanqqqun">
                            <span class="deanqqqunicon"></span>
                            <span class="deanqqquntxt">加入官方Q群</span>
                            <div class="clear"></div>
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 排行榜 -->
    <div class="deansidebox">
        <div class="deanpubtitle">
            <h4>阅读排行榜</h4>
            <div class="deanpbright">
                <a href="article.html" target="_blank">更多</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="deanranklistbox">
            <ul>
                {volist name="$left_list" id="v" key="k"}
                <li class="on">
                    <div class="deanoutters">
                        <em {if condition="$k lt 4"}class="deanbgcolor1s"{else}class="deanbgcolor2s"{/if}>{$k}</em>
                        <a href="article-{$v.id}.html" target="_blank">{$v.title}</a>
                        <div class="clear"></div>
                    </div>
                    {if condition="$k eq 1 && $v.cover_img neq '' "}
                    <div class="deaninners">
                        <div class="deaninnerspitfd">
                            <a href="article-{$v.id}.html"
                               target="_blank">
                                <img src="{$v.cover_img}"
                                     width="120" height="90"/>
                            </a>
                        </div>
                        <div class="deaninerinfosd">
                            <p>{$v.summary}</p>
                            <div class="deanrlifd">
                                阅读：{$v.click_count}<i>|</i>{$v.created_at|date="Y-m-d",###}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    {/if}
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <!-- 专访 -->
    <!--<div class="deansidebox">
        <div class="deanpubtitle">
            <h4>专访</h4>
            <div class="deanpbright">
                <a href="#" target="_blank">更多</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="deanimg_news">
            <a href="###" target="_blank" title="以国表里着名网站为例 关于网站分页导航的一些思索"><img
                    src="static/picture/83935edf582567247e03d4d0353d3049.jpg" width="150"
                    height="85"
                    alt="以国表里着名网站为例 关于网站分页导航的一些思索"><span><em>以国表里着名网站为例 关于网站分页导航的</em></span></a><a
                href="http://www.codesou.com/article-1888-1.html" target="_blank"
                title="百度站长平台网站logo考核示例以及个人总结"><img
                src="static/picture/630e5b257b7349f57fd6ff4c1e92fca8.jpg" width="150"
                height="85"
                alt="百度站长平台网站logo考核示例以及个人总结"><span><em>百度站长平台网站logo考核示例以及个人总结</em></span></a><a
                href="http://www.codesou.com/article-1881-1.html" target="_blank"
                title="三沙市委书记确认：将在南海黄岩岛上建情况监测站"><img
                src="static/picture/69471d78ad67223b48d55c6705bd60c9.jpg" width="150"
                height="85"
                alt="三沙市委书记确认：将在南海黄岩岛上建情况监测站"><span><em>三沙市委书记确认：将在南海黄岩岛上建情况</em></span></a><a
                href="http://www.codesou.com/article-1880-1.html" target="_blank"
                title="中国为何要建第五个南极观察站？专家做出解答"><img
                src="static/picture/c1ae87bc7a6be42e519cc08b958ba8a4.jpg" width="150"
                height="85" alt="中国为何要建第五个南极观察站？专家做出解答"><span><em>中国为何要建第五个南极观察站？专家做出解</em></span></a>
        </div>
    </div>-->
    <div class="deansideads">
        <div class="portal_block_summary">
            <a href="/" target="_blank"><img src="static/picture/ads1.jpg"></a>
        </div>
    </div>

</div>