<div class="deantypes">
    <div class="deantypetraggler">全站资源分类</div>
    <div class="deansidebar">
        <!--导航菜单接口开始-->
        <div>
            <ul>
                <li>
                    <h5>
                        <span class="deanwebpages">网页模板</span>
                        <i></i>
                    </h5>
                    <div class="deannavsub">
                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=24&d_geshi=17" target="_blank">HTML5模板</a>
                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=17" target="_blank">手机WAP模板</a>
                    </div>
                    <div class="deanhiddenmenu">
                        <div class="deanhdml">
                            <dl>
                                <dd>
                                    <div class="deanhdmlhs">HTML5模板</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=17" target="_blank">企业类模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=9" target="_blank">新闻类模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=5" target="_blank">资讯类模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=19" target="_blank">博客论坛模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42" target="_blank">其它模板</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">ECSHOP模板</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=8" target="_blank">商城类模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=9&d_pingtai=9" target="_blank">资讯类模板</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=14&d_geshi=9" target="_blank">团购模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=17&d_geshi=9" target="_blank">企业电商模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=24&d_geshi=9" target="_blank">微商代购模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=9" target="_blank">其它模板</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">WORDPRESS模板</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">博客类模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=17&d_geshi=10" target="_blank">企业模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=9&d_geshi=10" target="_blank">资讯模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=18&d_geshi=10" target="_blank">行业模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=10" target="_blank">其它模板</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">帝国CMS模板</div>
                                    <div class="deanhdmlhf">
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=2&d_pingtai=9" target="_blank">门户资讯模板</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=17&d_geshi=2" target="_blank">企业政府模板</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=19&d_geshi=2" target="_blank">博客模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_geshi=2" target="_blank">其它模板</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">DEDECMS模板</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=9&d_geshi=1" target="_blank">门户资讯模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=17&d_geshi=1" target="_blank">企业公司模板</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=15&d_geshi=1" target="_blank">教育培训模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=all&d_geshi=1" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">移动手机模板</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=8&d_geshi=17" target="_blank">商城团购模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=2&d_geshi=17" target="_blank">电影网站模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=9&d_geshi=17" target="_blank">地方门户模板</a>
                                        <a class="deanhdreds" href="forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=19&d_geshi=17" target="_blank">博客小说模板</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=42&filter=sortid&sortid=2&searchsort=1&d_pingtai=all&d_geshi=17" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="deanhdmr">
                            <div class="deanhdmrsingleads">
                                <a href="/forum.php?mod=forumdisplay&fid=42" target="_blank"><img src="static/picture/5.jpg"></a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <h5>
                        <span class="deanpmsj">网站源码</span>
                        <i></i>
                    </h5>
                    <div class="deannavsub">
                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_pingtai=10" target="_blank">社区论坛</a>
                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_pingtai=9&d_geshi=all" target="_blank">行业资讯源码</a>
                    </div>
                    <div class="deanhiddenmenu">
                        <div class="deanhdml">
                            <dl>
                                <dd>
                                    <div class="deanhdmlhs">社区论坛</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=7" target="_blank">Discuz!</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=8" target="_blank">PHPWind</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=4" target="_blank">BBSMAX</a>
                                        <a href="#" target="_blank">动网论坛</a>
                                        <a href="#" target="_blank">JSPRUN论坛</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">CMS源码</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=1" target="_blank">DedeCMS</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=2" target="_blank">帝国CMS</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=12" target="_blank">PHPCMS</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=4" target="_blank">动易CMS</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=19" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">电子商务</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=9" target="_blank">ECShop</a>
                                        <a href="#" target="_blank">PrestaShop</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=14" target="_blank">Destoon</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=18" target="_blank">iWebShop</a>
                                        <a href="#" target="_blank">OpenWBS</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">企业网站</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">pageadmin</a>
                                        <a href="#" target="_blank">CmsEasy</a>
                                        <a href="#" target="_blank">OECMS</a>
                                        <a class="deanhdreds" href="#" target="_blank">凡诺企业站</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">博客源码</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">PJblog</a>
                                        <a class="deanhdreds" href="forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=10" target="_blank">Wordpress</a>
                                        <a class="deanhdreds" href="#" target="_blank">Z-blog</a>
                                        <a href="#" target="_blank">OBlog</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">其它源码</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=6" target="_blank">杰奇小说系统</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_pingtai=7" target="_blank">114啦导航</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=15" target="_blank">海洋CMS</a>
                                        <a class="deanhdreds" href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=16" target="_blank">苹果CMS</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_geshi=13" target="_blank">ThinkPHP</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_pingtai=4&d_geshi=13" target="_blank">直播平台系统</a>
                                        <a href="/forum.php?mod=forumdisplay&fid=48&filter=sortid&sortid=2&searchsort=1&d_pingtai=13" target="_blank">旅游餐饮</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="deanhdmr">
                            <dl>
                                <dd>
                                    <a href="#" target="_blank"><img src="static/picture/1.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <h5>
                        <span class="deanspsc">网页特效</span>
                        <i></i>
                    </h5>
                    <div class="deannavsub">
                        <a href="#" target="_blank">菜单导航</a>
                        <a href="#" target="_blank">弹窗漂浮</a>
                        <a href="#" target="_blank">日期时间</a>
                    </div>
                    <div class="deanhiddenmenu">
                        <div class="deanhdml">
                            <dl>
                                <dd>
                                    <div class="deanhdmlhs">选项/滑动</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">滑动门</a>
                                        <a href="#" target="_blank">视频切换</a>
                                        <a href="#" target="_blank">滑动手风琴</a>
                                        <a href="#" target="_blank">tab切换</a>
                                        <a href="#" target="_blank">列表切换</a>
                                        <a href="#" target="_blank">图片选项卡</a>
                                        <a href="#" target="_blank">滚动切换</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">导航菜单</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">树形菜单</a>
                                        <a href="#" target="_blank">导航条</a>
                                        <a href="#" target="_blank">竖直导航</a>
                                        <a href="#" target="_blank">图标导航</a>
                                        <a href="#" target="_blank">菜单栏</a>
                                        <a href="#" target="_blank">图标菜单</a>
                                        <a href="#" target="_blank">滚动菜单</a>
                                        <a href="#" target="_blank">二级菜单</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">图片代码</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">图片放大镜</a>
                                        <a href="#" target="_blank">图片插件</a>
                                        <a href="#" target="_blank">图片延迟加载</a>
                                        <a href="#" target="_blank">图片九宫格</a>
                                        <a href="#" target="_blank">百叶窗</a>
                                        <a href="#" target="_blank">缩略图</a>
                                        <a href="#" target="_blank">图片轮播</a>
                                        <a href="#" target="_blank">相册图片</a>
                                        <a href="#" target="_blank">图片拖动</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">弹窗/提示</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">弹窗</a>
                                        <a href="#" target="_blank">qq客服</a>
                                        <a href="#" target="_blank">悬浮层</a>
                                        <a class="deanhdreds" href="#" target="_blank">购物车</a>
                                        <a class="deanhdreds" href="#" target="_blank">弹出层插件</a>
                                        <a href="#" target="_blank">对联广告</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">表单代码</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">autocomplete</a>
                                        <a class="deanhdreds" href="#" target="_blank">城市选择</a>
                                        <a class="deanhdreds" href="#" target="_blank">登录框</a>
                                        <a href="#" target="_blank">三级联动</a>
                                        <a href="#" target="_blank">select美化</a>
                                        <a href="#" target="_blank">全选 反选</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">其它特效</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">表格插件</a>
                                        <a class="deanhdreds" href="#" target="_blank">签到</a>
                                        <a class="deanhdreds" href="#" target="_blank">滑动星星打分</a>
                                        <a href="#" target="_blank">转盘抽奖</a>
                                        <a href="#" target="_blank">图片上传</a>
                                        <a href="#" target="_blank">图片裁剪</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="deanhdmr">
                            <div class="deanhdmrsingleads">
                                <a href="#" target="_blank"><img src="static/picture/6.jpg"></a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <h5>
                        <span class="deanpptmuban">软件工具</span>
                        <i></i>
                    </h5>
                    <div class="deannavsub">
                        <a href="#" target="_blank">编程工具</a>
                        <a href="#" target="_blank">数据库</a>
                        <a href="#" target="_blank">网页制作</a>
                    </div>
                    <div class="deanhiddenmenu">
                        <div class="deanhdml">
                            <dl>
                                <dd>
                                    <div class="deanhdmlhs">网页制作</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">Dreamweaver</a>
                                        <a href="#" target="_blank">Photoshop</a>
                                        <a href="#" target="_blank">Flash</a>
                                        <a href="#" target="_blank">Coreldraw</a>
                                        <a href="#" target="_blank">更多</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">编程开发</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">AppServ</a>
                                        <a href="#" target="_blank">APMServ</a>
                                        <a class="deanhdreds" href="#" target="_blank">PHPEdit</a>
                                        <a href="#" target="_blank">EclipsePHP</a>
                                        <a href="#" target="_blank">EditPlus</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">建站辅助</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">火车头</a>
                                        <a href="#" target="_blank">狂人</a>
                                        <a href="#" target="_blank">侠客站群</a>
                                        <a href="#" target="_blank">站长取色器</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">金融理财</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">银行PPT</a>
                                        <a href="#" target="_blank">保险PPT</a>
                                        <a href="#" target="_blank">财务PPT</a>
                                        <a class="deanhdreds" href="#" target="_blank">证券PPT</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">FTP工具</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">FlashFXP</a>
                                        <a class="deanhdreds" href="#" target="_blank">CuteFTP</a>
                                        <a class="deanhdreds" href="#" target="_blank">LeapFTP</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">数据库服务器</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">Mysql</a>
                                        <a href="#" target="_blank">Access</a>
                                        <a href="#" target="_blank">Oracle</a>
                                        <a class="deanhdreds" href="#" target="_blank">MongoDB</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="deanhdmr">
                            <dl>
                                <dd>
                                    <a href="#" target="_blank"><img src="static/picture/3.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <h5>
                        <span class="deancgui">建站教程</span>
                        <i></i>
                    </h5>
                    <div class="deannavsub">
                        <a href="#" target="_blank">CMS教程</a>
                        <a href="#" target="_blank">网页布局</a>
                        <a href="#" target="_blank">数据库基础</a>
                    </div>
                    <div class="deanhiddenmenu">
                        <div class="deanhdml">
                            <dl>
                                <dd>
                                    <div class="deanhdmlhs">CMS教程</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">dedecms教程</a>
                                        <a href="#" target="_blank">帝国教程</a>
                                        <a href="#" target="_blank">Discuz教程</a>
                                        <a href="#" target="_blank">PHPcms教程</a>
                                        <a href="#" target="_blank">更多</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">建站基础教程</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">域名</a>
                                        <a href="#" target="_blank">空间/服务器</a>
                                        <a href="#" target="_blank">程序语言</a>
                                        <a href="#" target="_blank">运行环境/网站部署</a>
                                        <a href="#" target="_blank">开发工具</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">前端基础教程</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">HTML/CSS</a>
                                        <a href="#" target="_blank">WEB设计</a>
                                        <a href="#" target="_blank">Js/jQuery</a>
                                        <a href="#" target="_blank">响应式布局</a>
                                        <a href="#" target="_blank">前端框架</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">SEO基础知识</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">优化知识</a>
                                        <a href="#" target="_blank">优化目的</a>
                                        <a href="#" target="_blank">写作技巧</a>
                                        <a class="deanhdreds" href="#" target="_blank">排名因素</a>
                                        <a class="deanhdreds" href="#" target="_blank">白帽与黑帽</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">数据库基础知识</div>
                                    <div class="deanhdmlhf">
                                        <a href="#" target="_blank">数据库种类</a>
                                        <a class="deanhdreds" href="#" target="_blank">环境安装与配置</a>
                                        <a class="deanhdreds" href="#" target="_blank">常用基础语句</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                                <dd>
                                    <div class="deanhdmlhs">服务器知识</div>
                                    <div class="deanhdmlhf">
                                        <a class="deanhdreds" href="#" target="_blank">服务器种类</a>
                                        <a href="#" target="_blank">安装与配置</a>
                                        <a href="#" target="_blank">常用软件</a>
                                        <a class="deanhdreds" href="#" target="_blank">安全与维护</a>
                                        <a href="#" target="_blank">其他</a>
                                    </div>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="deanhdmr">
                            <dl>
                                <dd>
                                    <a href="#" target="_blank"><img src="static/picture/1.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--导航菜单接口结束-->
    </div>
</div>